header {
  --header-height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.233);

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(0.75rem, 2vw, 1.5rem) clamp(1rem, 4vw, 3rem);

    div.logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      span {
        font-weight: bold;
        border: 1px solid;
        padding: clamp(0.5rem, 1.1vw, 0.9rem);
        border-radius: clamp(0.25rem, 0.8vw, 0.6rem);
        font-size: 1.2rem;
        background-color: white;
        color: #1e3e8a;
      }
      h1 {
        color: white;
        font-size: clamp(1.2rem, 2.5vw, 1.6rem);
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      li {
        display: flex;
        a {
          text-transform: uppercase;
          font-weight: 500;
          color: gray;
          transition: 0.3s;
          font-size: 0.9rem;

          &:hover {
            color: #2563eb;
          }
        }
      }
    }

    div.contato {
      a {
        background-color: #2563eb;
        color: white;
        font-weight: bold;
        transition: 0.3s;
        padding: clamp(0.5rem, 1vw, 0.75rem) clamp(0.75rem, 2vw, 1.25rem);
        border-radius: 999px;
        font-size: clamp(0.9rem, 1vw, 1rem);

        &:hover {
          background-color: #2500eb;
        }
      }
    }
  }
}
