@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding-top: var(--header-height);
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-family: "Montserrat";
}
